{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<p class="description"> Get playable words </p>

<form action="{{ url_for('prediction') }}" method="POST">  
    <label for="word">Word:</label><br>
    <input type="text" name="word"><br>
    <input type="submit" value="Submit">
</form>
<div class = 'container'>
    <div class = 'col-3'>
        <table>
            <thead>
                <tr>
                    <th>Permutations</th>
        
                </tr>
            </thead>
             <tbody>
                {% for word in data.permutations %}
                    <tr>
                        <td>{{word}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class = col-3>
        <table>
            <thead>
                <tr>
                    <th>New Words</th>
        
                </tr>
            </thead>
             <tbody>
                {% for word in data.new %}
                    <tr>
                        <td>{{word}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}