{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<p class="description">The tunnel collapse narrowly misses you. The roof caves in sending boulders crashing down, just feet from where you stand.
        Next time, you won't be so lucky. The dangers are many. Giant spiders lurk around every corner. Snakes and mummies hunt you at every turn.
        Every step could be your last. And yet you press on. The allure of wealth beyond your comprehension pulls you forward. Gold, obsidian, emeralds,
        ancient Incan artifacts fill your purse. What will it be? Are you a hero or a coward? Do you have an iron will? Will you press on to extraordinary heights?
        Or will you tuck your tail between your legs, run out of the temple---safe but never sure of what could have been?</p>


{% endblock %}